@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.font-style{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* nav section */
nav{
    width: 100vw;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gamer-logo{
    margin-left: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list{
    margin-right: 240px;
}
.nav-list > ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.nav-list ul li{
    margin-right: 32px;
    font-size: 1.12rem;
}
.nav-list ul li a{
    text-decoration: none;
    color: #3C354F;
}
.logo{
    width: 86.041px;
    height: 40px;
}
.logo-text{
    font-size: 2.8rem;
    font-weight: 700;
}
.logo-btn{
    width: 262px;
    height: 56px;
    text-align: center;
    font-size: 1.12rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
}
.fa-youtube{
    color: #F61C0D;
    width: 33.916px;
    height: 24px;
}
.fa-tiktok{
    width: 24px;
    height: 24px;
}
/* banner section */
.banner{
    height: 700px;
    display: flex;
    gap: 68px;
}
.banner-text{
    width: 901px;
    height: 700px;
    background-image: url(/images/Group\ 14.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-h2{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 600;
}
.banner-h1{
    font-size: 5.93rem;
    font-weight: 800;
}
.banner-content h3 {
    font-weight: 500;
    color: #534C64;
}
.btn-1{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    margin-top: 40px;
    margin-right: 20px;
}
.btn-2{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
}


/* online game section */
.game-title{
    text-align: center;
    margin-top: 120px;
}
.games-box{
    margin: 50px 240px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.games{
    width: 342px;
    height: 484px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.game-pic-1{
    width: 342px;
    height: 400px;
    border-radius: 16px;
    background: url(/images/Rectangle\ 4.png), lightgray 50% / cover no-repeat; 
}
.game-pic-2{
    width: 342px;
    height: 400px;
    border-radius: 16px;
    background: url(/images/Rectangle\ 5.png), lightgray 50% / cover no-repeat; 
}
.game-pic-3{
    width: 342px;
    height: 400px;
    border-radius: 16px;
    background: url(/images/Rectangle\ 7.png), lightgray 50% / cover no-repeat; 
}
.game-pic-4{
    width: 342px;
    height: 400px;
    border-radius: 16px;
    background: url(/images/Rectangle\ 6.png), lightgray 50% / cover no-repeat; 
}
/* play section */
.play{
    display: flex;
    margin: 70px 240px 150px 427px;
}
.play-photo img{
    width: 634.833px;
    height: 650px;
}

.play-div-text{
    width: 353px;
    height: 294px;
    text-align: right;
}
.play-text{
    display: flex;
    align-items: center;
}
.play-text , .play-photo{
    width: 50%;
}
.play-h2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 3rem;
   font-weight: 700;
}
.play-div-text h3{
    font-size: 3rem;
   font-weight: 700;
}
.play-p{
    color:  #534C64;
    font-size: 1.12rem;
}
.play-photo{
    position: relative;
}
.absulate{
    width: 318.5px;
    height: 365.083px;
    position: absolute;
    bottom: -75.83px;
    left: -145.17px;
}
.absulate img{
    width: 100%;
    height: 100%;
}
/* career section */
.career-container{
    display: flex;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.career-text , .career-photo{
    width: 50%;
}
.career-text{
    padding: 120px 0px 120px 240px;
}
.career-photo{
    fill: rgba(255, 255, 255, 0.10);
}
.careers-list{
    display: flex;
    justify-content: space-between;
}
.careers-list ul{
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-text{
    text-align: end;
}
.career-p{
    font-size: 1.125rem;
    color: white;
    font-weight: 400;
    margin-bottom: 32px;
}
.career-h2{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.career-btn{
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    margin-top: 50px;
}
.btn-p{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 1.25rem;
   font-weight: 600;
}



@media screen and (max-width:575px) {
    nav{
        flex-direction: column;
    }
    .gamer-logo{
        margin: 100px 0px 62px 0px;
    }
    .nav-list{
        margin: 0;
    }
    .nav-list > ul{
        flex-direction: column;
        gap: 40px;
        margin-left: 20px;
    }
    .banner{
        flex-direction: column;
    }
    .banner-text{
        width: 100%;
        height: auto;
        margin-top: 350px;
    }
    .banner-pic{
        width: 100%;
        height: auto;
    }
    .banner-pic img{
        width: 100%;
        height: auto;
    }
    .games-box{
        flex-direction: column;
        margin:50px 45px;
    }
    .game-title{
        margin-top: 500px;
    }
    .play{
        margin: 50px 10px;
        flex-direction: column;
    }
    .play-text , .play-photo{
        width: 100%;
    }
    .play-photo img{
        width: 100%;
        height: 50%;
    }
    .play-h2{
        font-size: 2.5rem;
    }
    .play-div-text h3{
        font-size: 2.5rem;
        margin-bottom: 50px;
    }
    .play-div-text{
        text-align: center;
        margin-left: 30px;
    }
    .absulate{
        width: 200px;
        left: auto;
        bottom: -215px;
    }
    .career-container{
        flex-direction: column;
        margin-top: 200px;
    }
    .career-text , .career-photo{
        width: 100%;
    }
    .career-text{
        padding: 20px;
    }
    .career-photo img{
        width: 100%;
    }
    .career-p{
        font-size: 0.9rem;
       
    }
    .career-h2{
        font-size: 2rem;
        font-weight: 600;
    }
    .career-btn{
        padding: 16px 35px;
        border: none;
        border-radius: 48px;
        margin-top: 50px;
    }
    .btn-p{
       font-size: 1.00rem;
       font-weight: 600;
    }
    .careers-list ul{
        font-size: 1.0rem;
        font-weight: 500;
       
    }
}